footer
	.container
		.row
			.col-xl-3.col-md-3.col-sm-7.col-12
				.logo-footer
					a(href="#")
						object(type="image/svg+xml" data="img/logo.svg")
				p © NASOS.ru - интернет-магазин инженерной сантехники
				p 2016-2018
				p.map-adres Калужское шоссе 21км
			.col-xl-9.col-md-9.col-sm-5.col-12
				.row.dnonemob
					.col-xl-7.col-12
						ul.footer-menu
							li
								a(href="#") Оплата и доставка
							li
								a(href="#") Монтаж
							li
								a(href="#") О компании
							li
								a(href="#") Статьи
							li
								a(href="#") Контакты
					.col-3.dnonetab
						p.phone-footer +7 (499) 583-08-03
					.col-2.dnonetab
						a.link-email-footer(href="mailto:info@nasos.ru") info@nasos.ru
				.row.list-footer
					.col-xl-3.col-4
						ul
							li
								a(href="#") Насосы
							li
								a(href="#") Котлы
							li
								a(href="#") Дымоходы
							li
								a(href="#") Горелки
							li
								a(href="#") Водонагреватели
							li
								a(href="#") Мембранные баки
					.col-xl-3.col-4.dnonemob
						ul
							li
								a(href="#") Насосы
							li
								a(href="#") Котлы
							li
								a(href="#") Дымоходы
							li
								a(href="#") Горелки
							li
								a(href="#") Водонагреватели
							li
								a(href="#") Мембранные баки
					.col-xl-3.col-4.dnonemob
						ul
							li
								a(href="#") Радиаторы, конвекторы
							li
								a(href="#") Трубы
							li
								a(href="#") Теплоизоляция
							li
								a(href="#") Фитинги
							li
								a(href="#") Запорно-регулирующая арматура
							li
								a(href="#") Предохранительная и защитная арматура
					.col-xl-3.dnonetab
						ul
							li
								a(href="#") Насосы
							li
								a(href="#") Котлы
							li
								a(href="#") Дымоходы
							li
								a(href="#") Горелки
		.row.justify-content-between.align-items-center.pt20
			.col-xl-auto.col-md-3.col-12
				ul.social
					li
						a.fb(href="#")
					li
						a.vk(href="#")
					li
						a.yt(href="#")
					li
						a.is(href="#")
			.col-xl-8.col-md-9.col-auto
				ul.pay-metod
					li
						img(src="img/pay/nall.png" alt="")
					li
						img(src="img/pay/beznal.png" alt="")
					li
						img(src="img/pay/visa.png" alt="")
					br
					li
						img(src="img/pay/mastercard.png" alt="")
					li
						img(src="img/pay/yandex.png" alt="")
					li
						img(src="img/pay/sberbank.png" alt="")
			.col-xl-auto.col-md-8.offset-md-3.offset-xl-0.col-auto.yandex-bot
				.yandex-marcet
					img(src="img/yandexreiting.png" all="")
		.row
			.col-12
				p.copuright Информация на сайте www.nasos.ru не является публичной офертой


				.consultation-sidebar.modal-windows.zvonok
							span.closvxod
							p Заказать звонок
								form
									input(type="text" placeholder="Имя")
									input(type="text" placeholder="+7 (___) ___ - __ - __")
									span.remember Я согласен на обработку персональных данных
									button Отправить

						.consultation-sidebar.modal-windows.otzuvmod
							span.closvxod
							p Оставить отзыв
								form
									input(type="text" placeholder="Имя")
									input(type="text" placeholder="E-mail")
									textarea(placeholder="Коментарий")
									span.remember Я согласен на обработку персональных данных
									button.sent-testi Отправить

						.consultation-sidebar.modal-windows.thank-you
							p Спасибо за отзыв!
						.consultation-sidebar.modal-windows.gorod-dost
							span.closvxod
							p Мы доставляем по всей России
							.fixsl
								input(type="text" placeholder="Начните вводить название города...")
								.consultation-sidebar.modal-windows.presents
						.consultation-sidebar.modal-windows.presents
							span.closvxod
							p.title-mod Дарим
								br
								span  300 рублей
									form
										input(type="text" placeholder="Имя")
										input(type="text" placeholder="+7 (___) ___ - __ - __")
										span.remember Я согласен на обработку персональных данных
										.center-text
											span.uslovia Скидка предоставляеться в балах,
												br
												|  1 балл = 1 рубль.
										button Получить
						.consultation-sidebar.modal-windows.file-send
							span.closvxod
							p Отправка сметы
									form
										input(type="text" placeholder="Имя")
										input(type="text" placeholder="+7 (___) ___ - __ - __")
										input(type="text" placeholder="E-mail")
										input(type="file" placeholder="E-mail")
										span.remember Я согласен на обработку персональных данных
										.center-text
										button Отправить
.podlojka
script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
script(src="js/slick.min.js")
script(src="js/main.js")
script(src="js/jquery-ui.js")
