header
	.container
		.row.align-items-center.justify-content-between.heiht-header
			.col-xl-3.col-12.local-pod
				p.local Москва
				span.closed.dnotepc
			.col-xl-6.col-12
				ul.top-menu
					li.dnotepc
						a(href="#") Каталог
					li.dnotepc
						a(href="#") Бренд
					li
						a(href="#") О проекте
					li
						a(href="#") Оплата и доставка
					li
						a(href="#") Услуги
					li
						a(href="#") Контакты

			.col-xl-3.col-12.login-link-pod
				ul.login-link
					li
						a.checinpanel(href="#") Вход
					li
						a(href="#") Регистрация
			.col-12.cart-pod.dnotepc
				a.link-car-pod.car-img-pod(href="#") Корзина
					.shop-car
						.car-img
						span.number-item-order 2
				br
				a.link-car-pod.car-img-pod(href="#") Список желаний
				br
				a.link-car-pod.car-img-pod(href="#") Сравнение товаров
			.col-12.phone-pod.dnotepc
				span.phone +7 (499) 583-08-03
.info-header.fixedmenu
	.fixed-top
		.container
			.row.height-info-header.align-items-center.justify-content-between
				.col-xl-3.col-auto
					.mob-menu.dnotepc
					.logo
						span.dnonetab интернет-магазин инженерной сантехники
						a(href="#")
							object(type="image/svg+xml" data="img/logo.svg")
				.col-xl-9.col-auto
					.row.align-items-center
						.col-3.dnonetab
							span.phone +7 (499) 583-08-03
							a.order-call(href="#") Перезвоните мне
						.col-2.dnonetab
							a.link-email(href="mailto:info@nasos.ru") info@nasos.ru
						.col-4.dnonetab
							form.searsh
								input.area-sersh(type="text" placeholder="Поиск по сайту")
								button.button-sersh(type="submit")
						.col-xl-3.col-12
							.order-nav-area.row.align-items-center.justify-content-end
								.sersh-button
								.phone-button
								.profile-button.modal-but-vxod
								.compare.dnonetab
								.heart-like.dnonetab
								.shop-car
									.car-img
									p.prise-order.dnonetab 41000 
										span р.
									span.number-item-order#number-tov 2
					.consultation-sidebar.vxod.modal-windows
								span.closvxod
								p Вход на сайт
									form
										input(type="text" placeholder="Логин")
										input(type="password" placeholder="Пароль")
										span.remember Запомнить меня
										button Войти
								.center-text
									a.password-bsck(href="#") Забыли свой пароль?
			.container-sersh
				form.searsh
					input.area-sersh(type="text" placeholder="Поиск по сайту")
					button.button-sersh(type="submit")