head
	title My Site
	meta(charset="UTF-8")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	link(href="css/jquery-ui.css", type="text/css", rel="stylesheet")
	link(href="css/style.css", type="text/css", rel="stylesheet")
	link(href="css/grid.css", type="text/css", rel="stylesheet")
	link(href="css/slick.css", type="text/css", rel="stylesheet")
	link(href="css/media.css", type="text/css", rel="stylesheet")