doctype html
html
	include ../jade/part/_head.jade
	body
		include ../jade/part/_header.jade
		.container
			.row
				.col-12.col-xl-3.order-xl-1.order-2
					.fix-mobile-return
					include ../jade/part/_category-left.jade

					.consultation-sidebar.mb60.dnonetab
						p Нужна консультация или расчет проекта?
						form
							input(type="text" placeholder="Ваше имя")
							input(type="text" placeholder="+7 (___) ___ - __ - __")
							button Отправить

					.reiting-yandex-sidebar.mb60.dnonetab
						.title-reiting
							p.first Отзывы на
								span.big
									span.red Я
									ндекс Маркете
							p.second о нашем магазине
						.star-area
							ul.star
								li
								li
								li
								li
								li

				.col-12.col-xl-9.content.order-xl-2.order-1
					.baner-slider
						a(href="#")
							img(src="img/banner.png", alt="Banner")
						a(href="#")
							img(src="img/banner.png", alt="Banner")
						a(href="#")
							img(src="img/banner.png", alt="Banner")
						a(href="#")
							img(src="img/banner.png", alt="Banner")
					.fix-mobile-past
					.row.product-area.dnonetab
						.col-4
							.product-item
								img(src="img/nososi.png" alt="Nasos")
								h3.title-product Насосы
								ul
									li
										a(href="#") Биметаллические секционные радиаторы
									li
										a(href="#") Алюминиевые секционные радиаторы
									li
										a(href="#") Стальные панельные радиаторы
									li
										a(href="#") Стальные трубчатые радиаторы
									li
										a(href="#") Конвекторы
									li
										a(href="#") Полотенцесушители
									li
										a(href="#") Комплектующие
						.col-4
							.product-item
								img(src="img/nososi.png" alt="Nasos")
								h3.title-product Насосы
								ul
									li
										a(href="#") Биметаллические секционные радиаторы
									li
										a(href="#") Алюминиевые секционные радиаторы
									li
										a(href="#") Стальные панельные радиаторы
									li
										a(href="#") Стальные трубчатые радиаторы
									li
										a(href="#") Конвекторы
									li
										a(href="#") Полотенцесушители
									li
										a(href="#") Комплектующие
						.col-4
							.product-item
								img(src="img/nososi.png" alt="Nasos")
								h3.title-product Насосы
								ul
									li
										a(href="#") Биметаллические секционные радиаторы
									li
										a(href="#") Алюминиевые секционные радиаторы
									li
										a(href="#") Стальные панельные радиаторы
									li
										a(href="#") Стальные трубчатые радиаторы
									li
										a(href="#") Конвекторы
									li
										a(href="#") Полотенцесушители
									li
										a(href="#") Комплектующие
						.col-4
							.product-item
								img(src="img/nososi.png" alt="Nasos")
								h3.title-product Насосы
								ul
									li
										a(href="#") Биметаллические секционные радиаторы
									li
										a(href="#") Алюминиевые секционные радиаторы
									li
										a(href="#") Стальные панельные радиаторы
									li
										a(href="#") Стальные трубчатые радиаторы
									li
										a(href="#") Конвекторы
									li
										a(href="#") Полотенцесушители
									li
										a(href="#") Комплектующие
						.col-4
							.product-item
								img(src="img/nososi.png" alt="Nasos")
								h3.title-product Насосы
								ul
									li
										a(href="#") Биметаллические секционные радиаторы
									li
										a(href="#") Алюминиевые секционные радиаторы
									li
										a(href="#") Стальные панельные радиаторы
									li
										a(href="#") Стальные трубчатые радиаторы
									li
										a(href="#") Конвекторы
									li
										a(href="#") Полотенцесушители
									li
										a(href="#") Комплектующие
						.col-4
							.product-item
								img(src="img/nososi.png" alt="Nasos")
								h3.title-product Насосы
								ul
									li
										a(href="#") Биметаллические секционные радиаторы
									li
										a(href="#") Алюминиевые секционные радиаторы
									li
										a(href="#") Стальные панельные радиаторы
									li
										a(href="#") Стальные трубчатые радиаторы
									li
										a(href="#") Конвекторы
									li
										a(href="#") Полотенцесушители
									li
										a(href="#") Комплектующие

					.row.product-tab
						.col
							.nav-product-tab
								ul
									li.tab-nav.active(data-tab="1",data-family="prodtab") Популярные
									li.tab-nav(data-tab="2",data-family="prodtab") Распродажа
							.tab.active(data-tab="1",data-family="prodtab")
								.row.slider-product
									.col-4
										.product
											.but-vish-compare
												.area-for-mob-vc
													.vish-list
														span Добавить в список желаний
													.compare
														span Добавить в сравнение
											.sale -17%
											img(src="img/tovar.jpg" alt="Product")
											span.art Арт. 1103408111
											h6.name Водонагреватель DRAZICE OKCV 125 model 2016
											.old-prise-bonus
												span.oldprise 25 000 руб.
												span.bonus + 56 бонусов
											.prise-quantity.row.justify-content-between.align-items-center
												span.prise.col 21 606 руб.
												.quantity-but.col
														input.decrease(type="button" value="-")
														input.quantity(type="text" value="1" )
														input.increase(type="button" value="+")
											button.incart В корзину
											span.qua-prod В наличии  17 шт.
									.col-4
										.product
											.but-vish-compare
												.area-for-mob-vc
													.vish-list
														span Добавить в список желаний
													.compare
														span Добавить в сравнение
											.sale -17%
											img(src="img/tovar.jpg" alt="Product")
											span.art Арт. 1103408111
											h6.name Водонагреватель DRAZICE OKCV 125 model 2016
											.old-prise-bonus
												span.oldprise 25 000 руб.
												span.bonus + 56 бонусов
											.prise-quantity.row.justify-content-between.align-items-center
												span.prise.col 21 606 руб.
												.quantity-but.col
														input.decrease(type="button" value="-")
														input.quantity(type="text" value="1" )
														input.increase(type="button" value="+")
											button.incart В корзину
											span.qua-prod В наличии  17 шт.
									.col-4
										.product
											.but-vish-compare
												.area-for-mob-vc
													.vish-list
														span Добавить в список желаний
													.compare
														span Добавить в сравнение
											.sale -17%
											img(src="img/tovar.jpg" alt="Product")
											span.art Арт. 1103408111
											h6.name Водонагреватель DRAZICE OKCV 125 model 2016
											.old-prise-bonus
												span.oldprise 25 000 руб.
												span.bonus + 56 бонусов
											.prise-quantity.row.justify-content-between.align-items-center
												span.prise.col 21 606 руб.
												.quantity-but.col
														input.decrease(type="button" value="-")
														input.quantity(type="text" value="1" )
														input.increase(type="button" value="+")
											button.incart В корзину
											span.qua-prod В наличии  17 шт.
									.col-4
										.product
											.but-vish-compare
												.area-for-mob-vc
													.vish-list
														span Добавить в список желаний
													.compare
														span Добавить в сравнение
											.sale -17%
											img(src="img/tovar.jpg" alt="Product")
											span.art Арт. 1103408111
											h6.name Водонагреватель DRAZICE OKCV 125 model 2016
											.old-prise-bonus
												span.oldprise 25 000 руб.
												span.bonus + 56 бонусов
											.prise-quantity.row.justify-content-between.align-items-center
												span.prise.col 21 606 руб.
												.quantity-but.col
														input.decrease(type="button" value="-")
														input.quantity(type="text" value="1" )
														input.increase(type="button" value="+")
											button.incart В корзину
											span.qua-prod В наличии  17 шт.
							.tab(data-tab="2",data-family="prodtab")
								.row.slider-product
									.col-4
										.product
											.but-vish-compare
												.area-for-mob-vc
													.vish-list
														span Добавить в список желаний
													.compare
														span Добавить в сравнение
											.sale -17%
											img(src="img/tovar2@2x.jpg" alt="Product")
											span.art Арт. 1103408111
											h6.name Водонагреватель DRAZICE OKCV 125 model 2016
											.old-prise-bonus
												span.oldprise 25 000 руб.
												span.bonus + 56 бонусов
											.prise-quantity.row.justify-content-between.align-items-center
												span.prise.col 21 606 руб.
												.quantity-but.col
														input.decrease(type="button" value="-")
														input.quantity(type="text" value="1" )
														input.increase(type="button" value="+")
											button.incart В корзину
											span.qua-prod В наличии  17 шт.
									.col-4
										.product
											.but-vish-compare
												.area-for-mob-vc
													.vish-list
														span Добавить в список желаний
													.compare
														span Добавить в сравнение
											.sale -17%
											img(src="img/tovar2@2x.jpg" alt="Product")
											span.art Арт. 1103408111
											h6.name Водонагреватель DRAZICE OKCV 125 model 2016
											.old-prise-bonus
												span.oldprise 25 000 руб.
												span.bonus + 56 бонусов
											.prise-quantity.row.justify-content-between.align-items-center
												span.prise.col 21 606 руб.
												.quantity-but.col
														input.decrease(type="button" value="-")
														input.quantity(type="text" value="1" )
														input.increase(type="button" value="+")
											button.incart В корзину
											span.qua-prod В наличии  17 шт.
									.col-4
										.product
											.but-vish-compare
												.area-for-mob-vc
													.vish-list
														span Добавить в список желаний
													.compare
														span Добавить в сравнение
											.sale -17%
											img(src="img/tovar2@2x.jpg" alt="Product")
											span.art Арт. 1103408111
											h6.name Водонагреватель DRAZICE OKCV 125 model 2016
											.old-prise-bonus
												span.oldprise 25 000 руб.
												span.bonus + 56 бонусов
											.prise-quantity.row.justify-content-between.align-items-center
												span.prise.col 21 606 руб.
												.quantity-but.col
														input.decrease(type="button" value="-")
														input.quantity(type="text" value="1" )
														input.increase(type="button" value="+")
											button.incart В корзину
											span.qua-prod В наличии  17 шт.
									.col-4
										.product
											.but-vish-compare
												.area-for-mob-vc
													.vish-list
														span Добавить в список желаний
													.compare
														span Добавить в сравнение
											.sale -17%
											img(src="img/tovar2@2x.jpg" alt="Product")
											span.art Арт. 1103408111
											h6.name Водонагреватель DRAZICE OKCV 125 model 2016
											.old-prise-bonus
												span.oldprise 25 000 руб.
												span.bonus + 56 бонусов
											.prise-quantity.row.justify-content-between.align-items-center
												span.prise.col 21 606 руб.
												.quantity-but.col
														input.decrease(type="button" value="-")
														input.quantity(type="text" value="1" )
														input.increase(type="button" value="+")
											button.incart В корзину
											span.qua-prod В наличии  17 шт.
									.col-4
										.product
											.but-vish-compare
												.area-for-mob-vc
													.vish-list
														span Добавить в список желаний
													.compare
														span Добавить в сравнение
											.sale -17%
											img(src="img/tovar2@2x.jpg" alt="Product")
											span.art Арт. 1103408111
											h6.name Водонагреватель DRAZICE OKCV 125 model 2016
											.old-prise-bonus
												span.oldprise 25 000 руб.
												span.bonus + 56 бонусов
											.prise-quantity.row.justify-content-between.align-items-center
												span.prise.col 21 606 руб.
												.quantity-but.col
														input.decrease(type="button" value="-")
														input.quantity(type="text" value="1" )
														input.increase(type="button" value="+")
											button.incart В корзину
											span.qua-prod В наличии  17 шт.
									.col-4
										.product
											.but-vish-compare
												.area-for-mob-vc
													.vish-list
														span Добавить в список желаний
													.compare
														span Добавить в сравнение
											.sale -17%
											img(src="img/tovar2@2x.jpg" alt="Product")
											span.art Арт. 1103408111
											h6.name Водонагреватель DRAZICE OKCV 125 model 2016
											.old-prise-bonus
												span.oldprise 25 000 руб.
												span.bonus + 56 бонусов
											.prise-quantity.row.justify-content-between.align-items-center
												span.prise.col 21 606 руб.
												.quantity-but.col
														input.decrease(type="button" value="-")
														input.quantity(type="text" value="1" )
														input.increase(type="button" value="+")
											button.incart В корзину
											span.qua-prod В наличии  17 шт.

					.row
						.col
							h3.title-line Наши бренды
							.slider-brend-home
								a(href="#")
									img(src="img/brend/1.png" alt="Brend")
								a(href="#")
									img(src="img/brend/2.png" alt="Brend")
								a(href="#")
									img(src="img/brend/3.png" alt="Brend")
								a(href="#")
									img(src="img/brend/4.png" alt="Brend")
								a(href="#")
									img(src="img/brend/5.png" alt="Brend")
								a(href="#")
									img(src="img/brend/6.png" alt="Brend")
								a(href="#")
									img(src="img/brend/7.png" alt="Brend")
								a(href="#")
									img(src="img/brend/8.png" alt="Brend")
								a(href="#")
									img(src="img/brend/9.png" alt="Brend")
								a(href="#")
									img(src="img/brend/10.png" alt="Brend")
								a(href="#")
									img(src="img/brend/11.png" alt="Brend")
					.row
						.col
							h3.title-line О компании
							p
								strong NASOS.ru
								– интернет-магазин для профессионалов в области инженерной сантехники. В ассортименте всегда есть продукция для отопления, водоснабжения и канализации: насосное оборудование GRUNDFOS, Pedrollo, Джилекс, отопительные котлы VAILLANT и PROTHERM, горелки F.B.R. , расширительные баки REFLEX, водонагреватели DRAŽICE, трубы и фитинги REHAU и UPONOR, арматура MEIBES, TIEMME, DANFOSS и WATTS. Всё представленное сантехническое оборудование обладает высочайшими техническими и эксплуатационными характеристиками, обеспечивается гарантийным и постгарантийным обслуживанием.
								a(href="#") Подробнее...

							.info-baner
								.info-area.phone-ordery
									a(href="#")
										.info-item
											p.phon +7 (499) 583-08-03
											span Мы всегда рады Вашим звонкам
								.info-area
									a(href="mailto:info@nasos.ru")
										.info-item
											p.email info@nasos.ru
											span Принимаем заказы на почту
								.info-area.file-ordery
									a(href="#")
										.info-item
											p.download Отправить смету
											span Загрузить файл заказа / смету
		include ../jade/part/_footer.jade
